.body{
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.body_row{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.body_rowtitle > p{
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    font-size: 24px;
    font-weight: 500;
}

.body_rowproducts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;    
}