.catagory{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

.catagory:hover .catagory_subcatagories{
    display: block;
    cursor: pointer;
}

.catagory > a{
    text-decoration: none !important;
    color: black;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.catagory_subcatagories{
    display: none;
    position: absolute;
    z-index: 1;
    left: 65px;
    margin-top: 35px;
    background-color: white;
    column-count: 5;
    min-width: 90%;
    border: 1px solid lightgrey;
    justify-content: space-between;
}

.forsimple{
    text-decoration: none !important;
    color: grey;
    font-weight: 400;
    font-size: 14px;
    padding-left: 20px;
    line-height: 30px;
}

.downarrow{
    size: 10px;
    color: grey;
    margin-left: 5px;
}

.forbold{
    text-decoration: none !important;
    font-size: 14px;
    padding-left: 20px;
    line-height: 30px;
    color: black;
    font-weight: 600;
}

